{% extends "index.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load filters %}

{% block content %}
<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col-md-8">
            <h4>Общая информация</h4>
            <p>Имя пользователя: {{ user.username }}</p>
            <p>Ф.И.О. : {{ user.first_name }} {{ user.last_name }} {{ user.patronym }}</p>
            <p>Дата рождения: {{ user.date_of_birth.date }} ({{ user.age }} лет)</p>
            {% if request.user|has_group:"student" %}
            <h4>Отчеты</h4>
            <p><a class="link-primary" href="/students/non-attendance-report/{{ request.user.id }}/4">Просмотреть отчет по посещаемости</a></p>
            <p><a class="link-primary" href="/students/grades-report/{{ request.user.id }}/4">Просмотреть отчет по среднему баллу</a></p>
            {% endif %}
            <a type="button" class="btn btn-danger" href="/logout/">Выйти из системы</a>
        </div>
    </div>
</div>
{% endblock %}