<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %} 
    {% bootstrap_javascript %}
    {% load filters %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'scheduling/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% block navbar %}
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}
</body>
</html>