{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load filters %}
{{ form.media }}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Дневник школьника</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if perms.users.add_appuser %}
                <li class="nav-item">
                    <a class="nav-link active" href="/teachers/">Учителя</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/students/">Ученики</a>
                </li>
                {% endif %}
                {% if perms.users.view_classcode %}
                <li class="nav-item">
                    <a class="nav-link active" href="/classes/">Классы</a>
                </li>
                {% endif %}
                {% if perms.scheduling.can_view_class_journal and not perms.scheduling.add_lessonschedule %}
                <li class="nav-item">
                    <a class="nav-link active" href="/schedule/">Классный журнал</a>
                </li>
                {% elif perms.scheduling.add_lessonschedule %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Управление расписанием
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/schedule/">Составление расписания и журналы</a></li>
                        <li><a class="dropdown-item" href="/schedule/edit_bell_quarter/">Звонки и четверти</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if perms.scheduling.can_view_student_journal %}
                <li class="nav-item">
                    <a name="student_journal_link" id="id_student_journal_link" class="nav-link active"
                        href="/schedule/student_journal/{% current_monday %}/{% current_sunday %}/">Дневник</a>
                </li>
                {% endif %}
                {% if request.user|has_group:"student" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Отчет по среднему баллу
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/students/grades-report/{{ request.user.id }}/1/">за первую
                                четверть</a></li>
                        <li><a class="dropdown-item" href="/students/grades-report/{{ request.user.id }}/2/">за вторую
                                четверть</a></li>
                        <li><a class="dropdown-item" href="/students/grades-report/{{ request.user.id }}/3/">за третью
                                четверть</a></li>
                        <li><a class="dropdown-item" href="/students/grades-report/{{ request.user.id }}/4/">за
                                четвертую четверть</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Отчет по посещаемости
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/students/non-attendance-report/{{ request.user.id }}/1/">за первую
                                четверть</a></li>
                        <li><a class="dropdown-item" href="/students/non-attendance-report/{{ request.user.id }}/2/">за вторую
                                четверть</a></li>
                        <li><a class="dropdown-item" href="/students/non-attendance-report/{{ request.user.id }}/3/">за третью
                                четверть</a></li>
                        <li><a class="dropdown-item" href="/students/non-attendance-report/{{ request.user.id }}/4/">за
                                четвертую четверть</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if request.user|has_group:"teacher" or request.user|has_group:"head_teacher" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ваше расписание
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/schedule/teacher_schedule/{{ request.user.id }}/1/">на первую
                                четверть</a></li>
                        <li><a class="dropdown-item" href="/schedule/teacher_schedule/{{ request.user.id }}/2/">на вторую
                                четверть</a></li>
                        <li><a class="dropdown-item" href="/schedule/teacher_schedule/{{ request.user.id }}/3/">на третью
                                четверть</a></li>
                        <li><a class="dropdown-item" href="/schedule/teacher_schedule/{{ request.user.id }}/4/">на
                                четвертую четверть</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="navbar-text ms-auto me-0 ">
            <a class="nav-link" href="/account/">Здравствуйте, {{ request.user.first_name }}.</a>
        </div>
        <div class="navbar-text ms-3 me-0">
            <a class="nav-link" href="/logout/">Выйти</a>
        </div>
        <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div style="height: 90vh;" class="d-flex flex-column align-items-center justify-content-center">
    <div class="row">
        <div class="col-12">
            <h1>Добро пожаловать.</h1>
            <h2>Используйте меню сверху для навигации.</h2>
        </div>
    </div>
</div>
{% endblock content %}