{% extends "index.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load filters %}

{% block content %}
<div class="container pt-3 pb-3">
    <div style class="row">
        <div class="col-md-5">
            <h4>Добавление ученика</h4>
        </div>
    </div>
    <form action="/students/" method="post" class="form" autocomplete="off">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-4">
                <h5>Укажите данные ученика</h5>
                {% csrf_token %}
                {{ student_form.media }}
                {% bootstrap_form student_form %}
                <div>
                    <label class="pb-3 me-3" for="class_select">Выберите класс:</label>
                    <select style="display: inline-block;" class="form_select" name="class_select" id="class_select">
                        {% for class in classes %}
                        <option value="{{class.id}}">{{ class.class_code }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Укажите данные матери</h5>
                {{ mother_form.media }}
                {% bootstrap_form mother_form %}
            </div>
            <div class="col-md-4">
                <h5>Укажите данные отца</h5>
                {{ father_form.media }}
                {% bootstrap_form father_form %}
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <button type="submit" class="w-100 btn btn-light">Сохранить</button>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </form>
    <!-- <div class="row">
        <div class="col-md-4">
            <h4>Добавление нового класса</h4>
            <form action="/students/add_class/" method="post" class="form" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form class_code_form %}
                <label class="pb-3 me-3" for="teacher_select">Выберите классного руководителя:</label>
                <select style="display: inline-block;" class="form_select" name="teacher_select" id="teacher_select">
                    {% for teacher in teachers %}
                    <option value="{{teacher.id}}">{{teacher.first_name}} {{teacher.last_name}} {{teacher.patronym}}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-light">Сохранить</button>
            </form>
        </div>
    </div> -->
    <div class="row">
        <div class="col bg-light list">
            <table style="max-height: 500px;" class="table table-striped">
                <thead>
                    <th scope="col">Ф.И.О.</th>
                    <th scope="col">Класс</th>
                    <th scope="col">Родители</th>
                </thead>
                <tbody>
                    {% for students_class in students_classes %}
                    <tr>
                        <td>
                            <a href="/users/{{ students_class.student.id }}">
                                {{students_class.student.first_name}} {{students_class.student.last_name}}
                                {{students_class.student.patronym}}
                            </a>
                        </td>
                        <td>
                            {{students_class.class_code.class_code}}
                        </td>
                        <td><a href="/users/{{students_class.student.student_to_parents.mother.id}}">
                                {{students_class.student.student_to_parents.mother.first_name}}
                                {{students_class.student.student_to_parents.mother.last_name}}
                                {{students_class.student.student_to_parents.mother.patronym}}
                            </a> <br>
                            <a href="/users/{{students_class.student.student_to_parents.father.id}}">
                                {{students_class.student.student_to_parents.father.first_name}}
                                {{students_class.student.student_to_parents.father.last_name}}
                                {{students_class.student.student_to_parents.father.patronym}}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}