{% extends "index.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load filters %}

{% block content %}
<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col-md-8">
            <h4>Общая информация</h4>
            <p>Имя пользователя: {{ user.username }}</p>
            <p>Ф.И.О. : {{ user.first_name }} {{ user.last_name }} {{ user.patronym }}</p>
            <p>Дата рождения: {{ user.date_of_birth.date }} ({{ user.age }} лет)</p>
            <p>Роль: {{ group }}</p>
            {% if user|has_group:"student" %}
            <p>Класс <a href="/classes/{{ class.class_code.id }}/">{{ class.class_code.class_code }}</a></p>
            <h4>Отчеты</h4>
            <p>
                <a id="id-nonattendace-report-link" class="link-primary" href="#">Просмотреть отчет по посещаемости за</a>
                <select style="display: inline;" name="term_select" id="id-term-select-nonatt">
                    <option value="/students/non-attendance-report/{{ user.id }}/1/">первую четверть</option>
                    <option value="/students/non-attendance-report/{{ user.id }}/2/">вторую четверть</option>
                    <option value="/students/non-attendance-report/{{ user.id }}/3/">третью четверть</option>
                    <option value="/students/non-attendance-report/{{ user.id }}/4/">четвертую четверть</option>
                </select>
            </p>
            <p>
                <a id="id-grades-report-link" class="link-primary" href="#">Просмотреть отчет по среднему баллу за</a>
                <select style="display: inline;" name="term_select" id="id-term-select-grades">
                    <option value="/students/grades-report/{{ user.id }}/1/">первую четверть</option>
                    <option value="/students/grades-report/{{ user.id }}/2/">вторую четверть</option>
                    <option value="/students/grades-report/{{ user.id }}/3/">третью четверть</option>
                    <option value="/students/grades-report/{{ user.id }}/4/">четвертую четверть</option>
                </select>
            </p>
            {% endif %}
            {% if user|has_group:"parent" %}
            <p>Обучающиеся дети:</p>
            <ul>
                {% for parents_record in parents_records %}
                <li> <a href="/users/{{ parents_record.student.id }}/">{{ parents_record.student.first_name }} {{ parents_record.student.last_name }} {{ parents_record.student.patronym }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if user|has_group:"teacher" or user|has_group:"head_teacher" or user|has_group:"director" %}
            <h4>Классы под руководством</h4>
            <ul>
                {% for homeroomed_class in homeroomed_classes %}
                <li><a href="/classes/{{ homeroomed_class.id }}/">{{ homeroomed_class.class_code }}</a></li>
                {% empty %}
                <p>Пока не назначены</p>
                {% endfor %}
            </ul>
            <h4>Преподаваемые предметы</h4>
            <ul>
                {% for discipline_teacher_record in disciplines %}
                <li>{{ discipline_teacher_record.discipline }}</li>
                {% empty %}
                <p>Пока не назначены.</p>
                {% endfor %}
            </ul>
            {% endif %}
            <a type="button" class="btn btn-light" href="/users/{{ user.id }}/edit/">Редактировать</a>
        </div>
    </div>
</div>
<script>
    const term_select_nonatt = document.getElementById("id-term-select-nonatt");
    const term_select_grades = document.getElementById("id-term-select-grades")
    const nonatt_report_link = document.getElementById("id-nonattendace-report-link");
    const grades_report_link = document.getElementById("id-grades-report-link")

    nonatt_report_link.href = term_select_nonatt.value;
    grades_report_link.href = term_select_grades.value;

    term_select_nonatt.addEventListener("change", function () {
        nonatt_report_link.href = term_select_nonatt.value;
    })

    term_select_grades.addEventListener("change", function () {
        grades_report_link.href = term_select_grades.value;
    })
</script>
{% endblock %}