{% extends "index.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load filters %}

{% block content %}
<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col-md-4">
            <h4>Общая информация</h4>
            <p>Класс {{ students_class.class_code }}</p>
            <p>Количество учеников в классе: {{ students_records|length }}</p>
            <p>Классный руководитель: {{students_class.homeroom_teacher.first_name}}
                {{students_class.homeroom_teacher.last_name}} {{students_class.homeroom_teacher.patronym}}</p>
            <a href="/classes/{{ students_class.id }}/advance" type="button" class="btn btn-danger">Перевести учеников в следующий класс</a>
        </div>
    </div>
    <div class="row pt-3">
        <h4>Список учеников</h4>
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <th>Ф.И.О</th>
                    <th>Email</th>
                    <th>Возраст</th>
                    <th>Дата рождения</th>
                </thead>
                <tbody>
                    {% for student_record in students_records %}
                    <tr>
                        <td>
                            <a href="/users/{{ student_record.student.id }}">{{ student_record.student.first_name }} {{ student_record.student.last_name }} {{ student_record.student.patronym }}</a> 
                        </td>
                        <td>
                            {{ student_record.student.email }}
                        </td>
                        <td>
                            {{ student_record.student.age }}
                        </td>
                        <td>
                            {{ student_record.student.date_of_birth.date }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}