{% extends "index.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load filters %}

{% block content %}
<div class="container">
    <div class="row pt-3 pb-3">
        <div class="col-md-8">
            <h4>Выберите класс: <div class="d-inline">{{ class_picker }}</div>
            </h4>
            {% if perms.scheduling.add_lessonschedule %}
            <a type="button" id="id_create_schedule" class="d-block btn btn-light mb-1 mt-1" href="">Составить новое
                расписание</a>
            {% endif %}
            <a type="button" id="id_open_class_journal" class="d-block btn btn-light mb-1 mt-1" href="">Окрыть классный
                журнал</a>
            <p>По предмету:
            <div class="d-inline">{{ discipline_picker }}</div>
            </p>
            <p>За четверть:
            <div class="d-inline">{{ term_picker }}</div>
            </p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        const classSelect = document.getElementById("id_class_code");
        const disciplineSelect = document.getElementById("id_discipline_name");
        const termSelect = document.getElementById("id_term");

        const createScheduleLink = document.getElementById("id_create_schedule");
        const openClassJournalLink = document.getElementById("id_open_class_journal");

        createScheduleLink?.classList.add("disabled");

        openClassJournalLink.classList.add("disabled");

        classSelect.addEventListener("change", () => {
            const selectedValue = classSelect.value;

            if (selectedValue !== "") {
                const createScheduleLinkUrl = `/schedule/create/${selectedValue}`;
                createScheduleLink.href = createScheduleLinkUrl;
                createScheduleLink.classList.remove("disabled");
            } else {
                createScheduleLink.href = "#";
                createScheduleLink.classList.add("disabled");
            }

        });

        function updateCreateScheduleLink() {
            var classValue = $("#id_class_code").val();
            var disciplineValue = $("#id_discipline_name").val();
            var termValue = $("#id_term").val();

            if (classValue && disciplineValue && termValue) {
                var hrefValue = "/schedule/class_journal/" + classValue + "/" + disciplineValue + "/" + termValue + "/";
                $("#id_open_class_journal").attr("href", hrefValue);
                $("#id_open_class_journal").removeClass("disabled");
            } else {
                $("#id_open_class_journal").attr("href", "");
                $("#id_open_class_journal").addClass("disabled");
            }
        }

        $("#id_class_code, #id_discipline_name, #id_term").change(function () {
            updateCreateScheduleLink();
        });
    });
</script>
{% endblock %}