{% extends "index.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load filters %}

{% block content %}
<div id="id-overlay">
    <div class="p-3" id="id-homework-window">
        <button style="float: right;" onclick="homework_window_off()" class="btn btn-light float-right"><i class="bi bi-x"></i></button>
        <p>Урок <span id="id-homework-date">...</span> по предмету "<span id="id-homework-discipline">...</span>" у класса <span id="id_homework_class">{{ class_code }}</span></p>
        <p>Домашнее задание:</p>
        <p id="id-homework-text">...</p>
        <p>Материалы к уроку:</p>
        <a id="id-lesson-materials-download-link" href=""></a>
        <p>Если здесь есть ссылка на файл, нажмите для загрузки.</p>
    </div>
</div>
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-3">
            <div>
                <a type="button" class="btn btn-light bi bi-arrow-left" href="/schedule/student_journal/{{ prev_week_start_date }}/{{ prev_week_end_date }}"></a>
                <span>{{ current_week_start_date }} - {{ current_week_end_date }}</span>
                <a type="button" class="btn btn-light bi bi-arrow-right" href="/schedule/student_journal/{{ next_week_start_date }}/{{ next_week_end_date }}"></a>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-5">
            <table class="table table-hover border border-dark">
                <thead>
                    <tr>
                        <th class="text-center" colspan="5">Понедельник</th>
                    </tr>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:10%">Время</th>
                        <th>Предмет</th>
                        <th style="width:10%">Оценка</th>
                        <th style="width: 10%;">Кабинет</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in monday_lessons %}
                    <tr class="student-journal" onclick="homework_window_on('{{lesson.1.id }}')">
                        <td>{{ lesson.0 }}</td>
                        <td>{{ lesson.2|hm_format_time }}-{{ lesson.3|hm_format_time }}</td>
                        {% if lesson.1 != None %}
                        <td style="position: relative;">
                            {% if lesson.1.lesson_material_file != "" %}
                            <i class="bi bi-archive student-journal"></i>
                            {% endif %}
                            <p class="mt-0 mb-0">{{ lesson.1.discipline_teacher.discipline }}</p>
                            <p class="mt-0 mb-0"><small class="fw-lighter">{{ lesson.1.homework|default:""|truncatechars:20 }}</small></p>
                        </td>
                        <td class="grade">
                            {{ lesson.1|get_grade|default:"" }}
                            {{ lesson.1|get_nonatt_reason|default:"" }}
                        </td>
                        <td class="classroom">
                            {{ lesson.1.classroom|default:"" }}
                        </td>
                        {% else %}
                        <td>
                            
                        </td>
                        <td class="grade">

                        </td>
                        <td class="classroom">

                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-hover border border-dark">
                <thead>
                    <tr>
                        <th class="text-center" colspan="5">Среда</th>
                    </tr>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:10%">Время</th>
                        <th>Предмет</th>
                        <th style="width:10%">Оценка</th>
                        <th style="width: 10%;">Кабинет</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in wednesday_lessons %}
                    <tr class="student-journal" onclick="homework_window_on('{{lesson.1.id }}')">
                        <td>{{ lesson.0 }}</td>
                        <td>{{ lesson.2|hm_format_time }}-{{ lesson.3|hm_format_time }}</td>
                        {% if lesson.1 != None %}
                        <td style="position: relative;">
                            {% if lesson.1.lesson_material_file != "" %}
                            <i class="bi bi-archive student-journal"></i>
                            {% endif %}
                            <p class="mt-0 mb-0">{{ lesson.1.discipline_teacher.discipline }}</p>
                            <p class="mt-0 mb-0"><small class="fw-lighter">{{ lesson.1.homework|default:""|truncatechars:20 }}</small></p>
                        </td>
                        <td class="grade">
                            {{ lesson.1|get_grade|default:"" }}
                            {{ lesson.1|get_nonatt_reason|default:"" }}
                        </td>
                        <td class="classroom">
                            {{ lesson.1.classroom|default:"" }}
                        </td>
                        {% else %}
                        <td>
                            
                        </td>
                        <td class="grade">

                        </td>
                        <td class="classroom">

                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-hover border border-dark">
                <thead>
                    <tr>
                        <th class="text-center" colspan="5">Пятница</th>
                    </tr>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:10%">Время</th>
                        <th>Предмет</th>
                        <th style="width:10%">Оценка</th>
                        <th style="width: 10%;">Кабинет</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in friday_lessons %}
                    <tr class="student-journal" onclick="homework_window_on('{{lesson.1.id }}')">
                        <td>{{ lesson.0 }}</td>
                        <td>{{ lesson.2|hm_format_time }}-{{ lesson.3|hm_format_time }}</td>
                        {% if lesson.1 != None %}
                        <td style="position: relative;">
                            {% if lesson.1.lesson_material_file != "" %}
                            <i class="bi bi-archive student-journal"></i>
                            {% endif %}
                            <p class="mt-0 mb-0">{{ lesson.1.discipline_teacher.discipline }}</p>
                            <p class="mt-0 mb-0"><small class="fw-lighter">{{ lesson.1.homework|default:""|truncatechars:20 }}</small></p>
                        </td>
                        <td class="grade">
                            {{ lesson.1|get_grade|default:"" }}
                            {{ lesson.1|get_nonatt_reason|default:"" }}
                        </td>
                        <td class="classroom">
                            {{ lesson.1.classroom|default:"" }}
                        </td>
                        {% else %}
                        <td>
                            
                        </td>
                        <td class="grade">

                        </td>
                        <td class="classroom">

                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <table class="table table-hover border border-dark">
                <thead>
                    <tr>
                        <th class="text-center" colspan="5">Вторник</th>
                    </tr>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:10%">Время</th>
                        <th>Предмет</th>
                        <th style="width:10%">Оценка</th>
                        <th style="width: 10%;">Кабинет</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in tuesday_lessons %}
                    <tr class="student-journal" onclick="homework_window_on('{{lesson.1.id }}')">
                        <td>{{ lesson.0 }}</td>
                        <td>{{ lesson.2|hm_format_time }}-{{ lesson.3|hm_format_time }}</td>
                        {% if lesson.1 != None %}
                        <td style="position: relative;">
                            {% if lesson.1.lesson_material_file != "" %}
                            <i class="bi bi-archive student-journal"></i>
                            {% endif %}
                            <p class="mt-0 mb-0">{{ lesson.1.discipline_teacher.discipline }}</p>
                            <p class="mt-0 mb-0"><small class="fw-lighter">{{ lesson.1.homework|default:""|truncatechars:20 }}</small></p>
                        </td>
                        <td class="grade">
                            {{ lesson.1|get_grade|default:"" }}
                            {{ lesson.1|get_nonatt_reason|default:"" }}
                        </td>
                        <td class="classroom">
                            {{ lesson.1.classroom|default:"" }}
                        </td>
                        {% else %}
                        <td>
                            
                        </td>
                        <td class="grade">

                        </td>
                        <td class="classroom">

                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-hover border border-dark">
                <thead>
                    <tr>
                        <th class="text-center" colspan="5">Четверг</th>
                    </tr>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:10%">Время</th>
                        <th>Предмет</th>
                        <th style="width:10%">Оценка</th>
                        <th style="width: 10%;">Кабинет</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in thursday_lessons %}
                    <tr class="student-journal" onclick="homework_window_on('{{lesson.1.id }}')">
                        <td>{{ lesson.0 }}</td>
                        <td>{{ lesson.2|hm_format_time }}-{{ lesson.3|hm_format_time }}</td>
                        {% if lesson.1 != None %}
                        <td style="position: relative;">
                            {% if lesson.1.lesson_material_file != "" %}
                            <i class="bi bi-archive student-journal"></i>
                            {% endif %}
                            <p class="mt-0 mb-0">{{ lesson.1.discipline_teacher.discipline }}</p>
                            <p class="mt-0 mb-0"><small class="fw-lighter">{{ lesson.1.homework|default:""|truncatechars:20 }}</small></p>
                        </td>
                        <td class="grade">
                            {{ lesson.1|get_grade|default:"" }}
                            {{ lesson.1|get_nonatt_reason|default:"" }}
                        </td>
                        <td class="classroom">
                            {{ lesson.1.classroom|default:"" }}
                        </td>
                        {% else %}
                        <td>
                            
                        </td>
                        <td class="grade">

                        </td>
                        <td class="classroom">

                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-hover border border-dark">
                <thead>
                    <tr>
                        <th class="text-center" colspan="5">Суббота</th>
                    </tr>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:10%">Время</th>
                        <th>Предмет</th>
                        <th style="width:10%">Оценка</th>
                        <th style="width: 10%;">Кабинет</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in saturday_lessons %}
                    <tr class="student-journal" onclick="homework_window_on('{{lesson.1.id }}')">
                        <td>{{ lesson.0 }}</td>
                        <td>{{ lesson.2|hm_format_time }}-{{ lesson.3|hm_format_time }}</td>
                        {% if lesson.1 != None %}
                        <td style="position: relative;">
                            {% if lesson.1.lesson_material_file != "" %}
                            <i class="bi bi-archive student-journal"></i>
                            {% endif %}
                            <p class="mt-0 mb-0">{{ lesson.1.discipline_teacher.discipline }}</p>
                            <p class="mt-0 mb-0"><small class="fw-lighter">{{ lesson.1.homework|default:""|truncatechars:20 }}</small></p>
                        </td>
                        <td class="grade">
                            {{ lesson.1|get_grade|default:"" }}
                            {{ lesson.1|get_nonatt_reason|default:"" }}
                        </td>
                        <td class="classroom">
                            {{ lesson.1.classroom|default:"" }}
                        </td>
                        {% else %}
                        <td>
                            
                        </td>
                        <td class="grade">

                        </td>
                        <td class="classroom">

                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    const homework_window = document.getElementById("id-homework-window");
    const homework_text = document.getElementById("id-homework-text");
    const homework_date = document.getElementById("id-homework-date");
    const homework_discipline = document.getElementById("id-homework-discipline");
    const lesson_materials_link = document.getElementById("id-lesson-materials-download-link");
    const overlay = document.getElementById("id-overlay");

    function homework_window_on(lesson_id) {
        if (!lesson_id) {
            return;
        }

        $.ajax({
            url: "/schedule/get_lesson/" + lesson_id + "/",
            success: function (response) {
                let lesson_date = response.lesson_record.lesson_date;
                let homework = response.lesson_record.homework;
                let lesson_materials_filename = response.lesson_record.lesson_materials;
                let lesson_discipline = response.lesson_record.lesson_discipline

                if (lesson_materials_filename) {
                    lesson_materials_link.innerText = lesson_materials_filename;
                    lesson_materials_link.style.display = "block";
                    lesson_materials_link.href = "/download_lesson_materials/" + lesson_id + "/";
                }

                homework_date.innerText = lesson_date;
                homework_text.innerText = homework;
                homework_discipline.innerText = lesson_discipline;

                overlay.style.display = "block";
            },
            error: function () {
                alert('Ошибка в загрузке урока.');
            }
        })
    }

    function homework_window_off() {
        homework_date.innerText = "..."

        lesson_materials_link.innerText = "";
        lesson_materials_link.style.display = "none";
        lesson_materials_link.href = "";

        homework_text.innerText = "";

        homework_discipline.innerText = "...";

        overlay.style.display = "none";
    }
</script>
{% endblock %}