.dataframe thead tr th {
    text-align: center;
}
.form_select{
    display: block;
    margin-bottom: 1rem;
}
.btn-light{
    background-color: rgb(248, 249, 250);
}
.table-error{
    font-size: smaller;
}
.grade{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
}
.classroom{
    text-align: center;
    vertical-align: middle;
}
.text-vertical{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: left;
}
.btn-grades-nonatt{
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
}
.input-grades-nonatt{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
th.class-journal{
    width: 25px;
    cursor: pointer;
    position: relative;
}
td.class-journal{
    width: 40px;
    height: 40px;
    border-right-width: 1px;
    align-items: center;
}
td.class-journal.number{
    width: 20px;
    height: 40px;
    border-right-width: 1px;
    align-items: left;
    vertical-align: middle;
}
td.class-journal.student-name{
    width: 200px;
    height: 25px;
    vertical-align: middle;
}
table.class-journal {
    table-layout: auto;
    width: auto;
    overflow-x: scroll;
}
tr.student-journal {
    cursor: pointer;
}
th, h4, h5 {
    font-weight: normal;
}
#id-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: none;
    z-index: 2;
}
#id-homework-window {
    position: absolute;
    height: 600px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 3;
    border-radius: 0.375rem;
    overflow-y: auto;
}
#id-lesson-materials-download-link, #id-lesson-materials-delete-button {
    display: none;
}
i.class-journal {
    position: absolute;
    font-size: 10px;
    right: 0;
    bottom: 0;
    z-index: 1;
}