{% extends "index.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load filters %}

{% block content %}
<div class="container">
    <form method="post" action="/schedule/class_journal/{{ class_code.id }}/{{ discipline.id }}/{{ term }}/" autocomplete="off">
        {% csrf_token %}
        <div class="row mt-3 mb-3">
            <h4>Классный журнал <a href="/classes/{{ class_code.id }}/">{{ class_code }}</a> за четверть {{ term }} по предмету {{ discipline }}.</h4>
            <div class="col-md-11">
                <table class="table table-striped table-bordered class-journal">
                    <thead>
                        <th>#</th>
                        <th></th>
                        {% for lesson_record in lesson_records %}
                        <th class="text-vertical class-journal">{{ lesson_record.lesson_holding_datetime_start.date|date:"d.m.y" }}</th>
                        {% endfor %}
                    </thead>
                    <tbody id="id_button-container">
                        {% for students_record in students_records %}
                        <tr>
                            <td class="p-0 class-journal number">{{ forloop.counter }}</td>
                            <td class="p-0 class-journal student-name"><a href="/users/{{ students_record.student.id }}/">{{ students_record.student }}</a></td>
                            {% for lesson_record in lesson_records %}
                            <td class="p-0 class-journal">
                                {% with key_name="grade_nonatt-"|add:students_record.student.id|add:"-"|add:lesson_record.id %}
                                    {% if key_name %}
                                    <input class="input-grades-nonatt text-center" name="{{ key_name }}" type="text" maxlength="2" value="{{ key_name }}">
                                    {% else %}
                                    <button data-student_id="{{ students_record.student.id }}" data-lesson_id="{{ lesson_record.id }}" class="btn btn-light btn-grades-nonatt">...</button>
                                    {% endif %}
                                {% endwith %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-1">
                <button class="btn btn-light" type="submit">Сохранить</button>
            </div>
        </div>
    </form>
</div>
<script>
    const buttonContainer = document.getElementById('id_button-container');
    buttonContainer.addEventListener('click', function (event) {
        var target = event.target;
        if (target.classList.contains('btn-grades-nonatt')) {
            console.log("done");
            var input = document.createElement('input');
            input.classList.add("input-grades-nonatt");
            input.classList.add("text-center");
            input.name = "grade_nonatt-" + target.getAttribute("data-student_id") + "-" + target.getAttribute("data-lesson_id");
            input.type = 'text';
            input.setAttribute("maxlength", 2);
            target.parentNode.replaceChild(input, target);
        }
    });
</script>
{% endblock %}