{% extends "index.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load filters %}

{% block content %}
<div hidden id="id-existing-grades-nonatt">
    {% for grade_nonatt in existing_grades_nonatt %}
    <input name="{{ grade_nonatt.0 }}" value="{{ grade_nonatt.1 }}" maxlength="2" type="text">
    {% endfor %}
</div>
<div id="id-overlay">
    <div class="p-3" id="id-homework-window">
        <button style="float: right;" onclick="homework_window_off()" class="btn btn-light float-right"><i class="bi bi-x"></i></button>
        <p>Урок <span id="id-homework-date">...</span> по предмету <span id="id-homework-discipline">"{{ discipline }}"</span> у класса <span id="id-homework-class">{{ class_code }}</span></p>
        <p>Домашнее задание:</p>
        <form enctype="multipart/form-data" id="id-homework-form" method="post" action="" autocomplete="off">
            {% csrf_token %}
            <textarea style="resize: none;" rows="12" class="w-100" type="text" name="homework" id="id-homework-input"></textarea>
            {{ lesson_material_form }}
            <a id="id-lesson-materials-download-link" href=""></a>
            <p>Если здесь есть ссылка на файл, нажмите для загрузки.</p>
            <button class="btn btn-light mt-3 mb-3" type="submit">Сохранить</button>
            <button class="btn btn-light mt-3 mb-3" id="id-lesson-materials-delete-button">Удалить</button>
        </form>
    </div>
</div>
<div class="container">
    <form method="post" action="/schedule/class_journal/{{ class_code.id }}/{{ discipline.id }}/{{ term }}/" autocomplete="off">
        {% csrf_token %}
        <div class="row mt-3 mb-3">
            <h4>Классный журнал <a href="/classes/{{ class_code.id }}/">{{ class_code }}</a> за четверть {{ term }} по предмету "{{ discipline }}".</h4>
            <div class="col-xl-10">
                <table style="overflow-x: scroll; display: block;" class="table table-striped table-bordered class-journal">
                    <thead>
                        <th>#</th>
                        <th></th>
                        {% for lesson_record in lesson_records %}
                        <th onclick="homework_window_on('{{ lesson_record.id }}')" class="text-vertical class-journal">{{ lesson_record.lesson_holding_datetime_start.date|date:"d.m.y" }}
                            {% if lesson_record.homework != None and lesson_record.homeworl != "" %}
                            <i class="bi bi-book class-journal"></i>
                            {% endif %}
                            {% if lesson_record.lesson_material_file != "" and lesson_record.lesson_material_file != None %}
                            <i class="bi bi-archive class-journal left"></i>
                            {% endif %}
                        </th>
                        {% endfor %}
                    </thead>
                    <tbody id="id-button-container">
                        {% for students_record in students_records %}
                        <tr>
                            <td class="p-0 class-journal number">{{ forloop.counter }}</td>
                            <td class="p-0 class-journal student-name"><a href="/users/{{ students_record.student.id }}/">{{ students_record.student.last_name }} {{ students_record.student.first_name }}</a></td>
                            {% for lesson_record in lesson_records %}
                            <td class="p-0 class-journal">
                                <button id="id-btn-grade-nonatt-{{students_record.student.id}}-{{lesson_record.id}}" name="btn-grade-nonatt-{{students_record.student.id}}-{{lesson_record.id}}" data-student_id="{{ students_record.student.id }}" data-lesson_id="{{ lesson_record.id }}" class="btn btn-light btn-grades-nonatt">...</button>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xl-2">
                <p class="lh-1" >
                    Сверху располагаются даты уроков, слева - ФИО учеников. <br>
                    Чтобы поставить оценку или отметить отсутствие на уроке, нажмите на многоточие и с помощью клавиатуры сделайте нужную отметку:
                </p>
                    <dl class="lh-1">
                        <dt>Цифры от "1" до "5"</dt>
                        <dd>Оценка ученика за урок</dd>
                        <dt>"УП"</dt>
                        <dd>Пропуск по уважительной причине</dd>
                        <dt>"Н"</dt>
                        <dd>Пропуск по неуважительной причине</dd>
                    </dl>
                <p class="lh-1">
                    Чтобы удалить существующую оценку или отсутствие на уроке, замените существующую отметку на <b>"DE"</b> и сохраните журнал.
                </p>
                <p class="lh-1">
                    Сохранение <b>удалит</b> текущее расписание класса вместе с оценками и посещаемостью, если только они не были выставлены в прошедшие дни.
                </p>
                <p class="lh-1">
                    Чтобы добавить домашнее задание или файл к уроку, нажмите на дату урока.
                </p>
                <p>
                    Обозначение символов:
                    <dl class="lh-1">
                        <dt><i class="bi bi-archive"></i></dt>
                        <dd>В уроке прикреплен файл</dd>
                        <dt><i class="bi bi-book"></i></dt>
                        <dd>В уроке присутствует домашнее задание</dd>
                    </dl>
                </p>
                <button class="btn btn-light" type="submit">Сохранить</button>
            </div>
        </div>
    </form>
</div>
<script>
    const buttonContainer = document.getElementById('id-button-container');

    buttonContainer.addEventListener('click', function (event) {
        var target = event.target;
        if (target.classList.contains('btn-grades-nonatt')) {
            var input = document.createElement('input');
            input.classList.add("input-grades-nonatt");
            input.classList.add("text-center");
            input.name = "grade-nonatt-" + target.getAttribute("data-student_id") + "-" + target.getAttribute("data-lesson_id");
            input.type = 'text';
            input.setAttribute("maxlength", 2);
            target.parentNode.replaceChild(input, target);
        }
    });

    const existingGradesNonattContainer = document.getElementById('id-existing-grades-nonatt');
    const grades_nonatt_inputs = existingGradesNonattContainer.childNodes;

    for (let i = 0; i < grades_nonatt_inputs.length; i++) {
        if (grades_nonatt_inputs[i].tagName === "INPUT") {
            button_id = "id-btn-" + grades_nonatt_inputs[i].name;
            grades_nonatt_button = document.getElementById(button_id);

            replacing_input = document.createElement("input");
            replacing_input.classList.add("input-grades-nonatt");
            replacing_input.classList.add("text-center");
            replacing_input.name = "grade-nonatt-" + grades_nonatt_button.getAttribute("data-student_id") + "-" + grades_nonatt_button.getAttribute("data-lesson_id");
            replacing_input.type = 'text';
            replacing_input.setAttribute("maxlength", 2);
            replacing_input.value = grades_nonatt_inputs[i].value;

            grades_nonatt_button.replaceWith(replacing_input);
        }
    }

    existingGradesNonattContainer.remove();

    const homework_window = document.getElementById("id-homework-window");
    const homework_input = document.getElementById("id-homework-input");
    const homework_date = document.getElementById("id-homework-date");
    const homework_form = document.getElementById("id-homework-form");
    const lesson_materials_input = document.getElementById("id-materials-file");
    const lesson_materials_link = document.getElementById("id-lesson-materials-download-link");
    const delete_lesson_materials_button = document.getElementById("id-lesson-materials-delete-button");
    const overlay = document.getElementById("id-overlay");

    function homework_window_on(lesson_id) { 
        $.ajax({
            url: "/schedule/get_lesson/" + lesson_id + "/",
            success: function (response) {
                let lesson_date = response.lesson_record.lesson_date;
                let homework = response.lesson_record.homework;
                let lesson_materials_filename = response.lesson_record.lesson_materials;

                if (lesson_materials_filename) {
                    lesson_materials_input.style.display = "none";
                    lesson_materials_input.disabled = true;

                    lesson_materials_link.innerText = lesson_materials_filename;
                    lesson_materials_link.style.display = "block";
                    lesson_materials_link.href = "/download_lesson_materials/" + lesson_id + "/";
                    
                    delete_lesson_materials_button.style.display = "inline-block";
                    delete_lesson_materials_button.onclick = function() {lesson_materials_delete(lesson_id);};
                }

                homework_form.action = "/schedule/set_homework/" + lesson_id + "/";
                homework_date.innerText = lesson_date;
                homework_input.innerText = homework;

                overlay.style.display = "block";
            },
            error: function () {
                alert('Ошибка в загрузке урока.');
            }
        })
    }

    function homework_window_off() {
        homework_input.innerText = "";
        homework_date.innerText = "..."
        homework_form.action = "";

        lesson_materials_input.style.display = "block";
        lesson_materials_input.disabled = false;

        lesson_materials_link.innerText = "";
        lesson_materials_link.style.display = "none";
        lesson_materials_link.href = "";
        delete_lesson_materials_button.style.display = "none";
        delete_lesson_materials_button.onclick = "";

        overlay.style.display = "none";
    }

    function lesson_materials_delete(lesson_id) {
        $.ajax({
            url: "/delete_lesson_materials/" + lesson_id + "/",
            success: function (response) {
                homework_window_on(lesson_id);
            },
            error: function (response) {
                alert("Ошибка в удалении материалов к уроку.");
            }
        })
    }
</script>
{% endblock %}